/* Coolors Exported Palette - coolors.co/a0332f-fbfffa-e3e3e3-247ba0-70c1b3 */

/* HSL */
$rot: hsla(2%, 55%, 41%, 1);
$wit: hsla(108%, 100%, 99%, 1);
$grau: hsla(0%, 0%, 89%, 1);
$lblau: hsla(198%, 63%, 38%, 1);
$teel: hsla(170%, 40%, 60%, 1);

/* RGB */
$rot: rgba(160, 51, 47, 1);
$wit: rgba(251, 255, 250, 1);
$grau: rgba(227, 227, 227, 1);
$lBlau: rgba(36, 123, 160, 1);
$sBlau: rgba(0,242,233,1);
$teel: rgba(112, 193, 179, 1);

// /*
//     Palette
//     2d3142-bfc0c0-ffffff-ef8354-4f5d75
//     SASS: node-sass --include-path scss scss/style.scss css/main.css --watch
// */
$deepBlau: #2d3142;
$orange: #d09944;
$grayblau: #4f5d75;
$darkGrau:#bfc0c0;
$darkerGrau:#a1a1a1;
$deepPurp: #140C2A;
$bluprint:#4e9ad5;


// Colors



// !
// FontZ
// !
