@import "palette.scss";
@import "mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway);

#SinglePost{
  margin: 0 auto;
  border: 1px solid $bluprint;
  padding: 16px;
  margin: 10px;
  box-shadow: 3px 3px 12px $blupurp;
  text-align: center;

  h3{
    padding: 6px;
  }
}
