@import "palette.scss";
@import "mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway);


:global{
  html{
    background-color: lightgray;
  }
  .app-container{
    border: 1px solid black;
  }
  .app-content{
    border: 1px solid darkgray;
  }
  .logo{
    :local{
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    position: relative;
    bottom: 1em;
   }
  }
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
   }
}

:local{

}

.test{
 font-family:sans-serif;
 margin: 0 auto;
 padding: 2em;
 background-color:black;
 color:white;

  button{
    color:$rot;
    background-color: $wit;
  }
}

.about{
 font-family:monospace;
 h1{
   text-shadow: 2px 2px 2px;
 }
}

.orangeBg{
  background-color: #F99206;
}

#Cards{
  background-color:slategray;
  margin: 0 auto;
  padding: 2em;
  table{
    padding:1em;
    margin:0 auto;
    width: 80%;
  }
  tr{
    float:left;
    clear:none;
    width: 20%;
    margin:1em;
  }
  td{
    background-color:$grau;
    border:1px solid black;
    padding: 1em;
    margin:2em;
  }
}
#cardForm{
  margin: 3em 2em;
}

#NavPrimary{
  background-color: $grau;
  display:inline-block;
  width: 90%;
  position: relative;
  top:1.225em;

}

#Login{

}
