@import "palette.scss";
@import "mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway);


:global{
  html{
    background-color: lightgray;
  }
  .app-container{
    border: 1px solid black;
  }
  .app-content{
    border: 1px solid darkgray;
  }
  .logo-container{
    width: 10%;
    display: inline-block;
  }
  .logo{
    :local{
    animation: App-logo-spin infinite 20s linear;
    position: relative;
    bottom: 1em;
   }
  }
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
   }
   nav.navbar.navbar-default ~ div{
    padding: 0;
   }
}

:local{

}

.test{
 font-family:sans-serif;
 margin: 0 auto;
 padding: 2em;
 background-color:black;
 color:white;

  button{
    color:$rot;
    background-color: $wit;
  }
}

.about{
 font-family:monospace;
 h1{
   text-shadow: 2px 2px 2px;
 }
}

.orangeBg{
  background-color: #F99206;
}

.denied{
  margin: 3.225em;
  padding: 1.775em;
  box-shadow: 2px 2px 2px 3px $rot;
}

#index{
  font-family:'Andale-mono',monospace;
  letter-spacing: 2px;
  text-align: center;
  box-shadow: 2px 2px 2px dodgerblue;
  max-width: 66%;

  h1{
    letter-spacing: 4px;
  }
  em{
    font-style: italic;
  }
}

#NavPrimary{
  background-color: $grau;
  display:inline-block;
  width: 90%;
  position: relative;
  top:1.225em;

  div{
    margin: auto 0;
  }
  
}

#postsIndex{
  text-rendering: optimizeLegibility;
  font-family: "Raleway",sans-serif;
  @include flexbox();
  .postsHeader{
    order:1;
    width: 10%;
    height: 250px;
    background-color: $grayblau;
    color:$orange;
    h3{
      position: relative;
      top:50%;
      margin: auto;
      text-align: center;
    }
  }
  .postsList{
    order:2;
    margin: auto;
    width: 90%;
    ul{
      max-width: 100%;
    }
  }
}


#Login{
  text-rendering: optimizeLegibility;
  font-family: "Raleway",sans-serif;
  width: 66%;
  position: relative;
  margin: 1em auto 2em auto;
  padding:0.5em 1em;
  color: #3943B7;
  background-color: $teel;
  box-shadow: 3px 3px 6px $darkGrau;

  h3{
    text-align: center;
    font-weight: bold;
  }
  a:first-of-type{
    float: right;
  }
}
