 @import url(https://fonts.googleapis.com/css?family=Raleway);

 :global{
   html{
     background-color: lightgray;
   }
 }

:local(.test){
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
    color:white;

}
:local(.about){
  font-family:monospace;
  h1{
    text-shadow: 2px 2px 2px;
  }
}
