@import url(https://fonts.googleapis.com/css?family=Raleway);/* Coolors Exported Palette - coolors.co/a0332f-fbfffa-e3e3e3-247ba0-70c1b3 */
/* HSL */
/* RGB */
html {
  background-color: lightgray; }

.app-container {
  border: 1px solid black; }

.app-content {
  border: 1px solid darkgray; }

.logo {
  animation: style__App-logo-spin___2vjDy infinite 20s linear;
  height: 80px;
  position: relative;
  bottom: 1em; }

@keyframes style__App-logo-spin___2vjDy {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.style__test___2bKzv {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 2em;
  background-color: black;
  color: white; }
  .style__test___2bKzv button {
    color: #a0332f;
    background-color: #fbfffa; }

.style__about___2XK-P {
  font-family: monospace; }
  .style__about___2XK-P h1 {
    text-shadow: 2px 2px 2px; }

.style__orangeBg___VA1O4 {
  background-color: #F99206; }

#style__Cards___1EpSz {
  background-color: slategray;
  margin: 0 auto;
  padding: 2em; }
  #style__Cards___1EpSz table {
    padding: 1em;
    margin: 0 auto;
    width: 80%; }
  #style__Cards___1EpSz tr {
    float: left;
    clear: none;
    width: 20%;
    margin: 1em; }
  #style__Cards___1EpSz td {
    background-color: #e3e3e3;
    border: 1px solid black;
    padding: 1em;
    margin: 2em; }

#style__cardForm___1v0HE {
  margin: 3em 2em; }

#style__NavPrimary___38hkU {
  background-color: #e3e3e3;
  display: inline-block;
  width: 90%;
  position: relative;
  top: 1.225em; }
